body {
    background: url("http://cdn.wallpapersafari.com/51/52/Krk8H7.jpg");
}

#mainHead {
    background-color: rgb(92, 145, 145);
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    font-size: 30px;
    width: 100%;
    text-align: center;
}

.rules {
    width: 50%;
    font: black;
    padding-bottom: 15px;
    padding-top: 5px;
    float: left;
    clear: both;
    margin-top: 15px;
}

p {
    color: aquamarine;
    font-size: 18px;
}

.sideBar {
    background: blue;
    font: 10px;
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    color: white;
}

.match {
    font: 24px;
    color: white;
    background: green;
    float: left;
    clear: both;
    width: 150px;
    height: 80px;
    margin-top: 10px;
}

.imageButtons {
    float: left;
    clear: both;
    margin-top: 10px;
}

.buttons {
    width: 50px;
    height: 50px;
    float: left;
    clear: both;
}

.total {
    width: 155px;
    height: 40px;
    background: navy;
    text-align: center;
    color: white;
    float: left;
    clear: both;
    margin-top: 5px;
}

.scoreBox {
    width: 155px;
    height: 80px;
    color: white;
    background: navy;
    float: left;
    clear: both;
    margin-top: 10px;
}